# 01 [ ] Bot offline
bot_offline_check = true
bot_offline_check_action = warning # warning | address_repair | repair

# 14 [ ] Duplicate messages
register_duplicate_msg = true


# 15 [ ] FakeID
register_unexpected_ids = true


# 16 [ ] Disable MasterBot  
mb_auto_check = true
mb_auto_check_interval_sec = 120 # in seconds
mb_auto_check_action = repair # warning | repair

# 18 [X] Duplicate ID
register_duplicate_ids = true

